@model IEnumerable<GoViagens.Models.Destino>

@{
    ViewData["Title"] = "Destino";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicione um novo destino.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preço)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detalhamento</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
